/*=============================
=            Media            =
=============================*/

$screen-xs-sm-min: 568px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;


/*==============================
=            Colors            =
==============================*/
$color--white: #ffffff;
$color--black: #000000;
$color--red: #C4302C;
$color--orange: #FF5500;
$color--blue: #3B5A99;
$color--light-blue: #009FD1;
$color--light-orange: #F4753D;
$color--gray: #968E8E;
$color--dark-gray: #3A3333;
$color--light-gray: #D2CFCF;

/*==============================
=            FONTS            =
==============================*/

$font--content: 'eurostileregular';
$font--titles: 'nakamuraregular';

